@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-size: 14px;
    line-height: 1.5;
}

header {
    font-size: 20px;
}

.footer {
    font-size: 13px;
    padding: 0 20px;
}
 .header {
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
     padding: 10px 20px;
    }
.logo {
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
    margin-right: 50px;
    text-decoration: none;
    padding: 5px 15px;
    }
            
     ul {
                display: flex;
                list-style-type: none;
                padding-left: 0;
                gap: 30px;
            }

            .box {
                display: flex;
                margin-bottom: 30px;
                gap: 20px;
                border-bottom: 1px solid #000;
            }
            .aside {
                background: lavender;
                padding: 10px 20px;
            }
            .post {
                padding-bottom: 20px;
            }

            a {
                color: rebeccapurple;
                font-weight: 700;
                text-decoration: none;
            }


            h1, h2, h3 {
                text-transform: uppercase;
                letter-spacing: 0.01em;
            }

            section {
                background: lavender;
                padding: 5px 20px;
                margin-bottom:20px;
            }

            .link {
                display: block;
                text-align: center;
                background: rebeccapurple;
                color: white;
                padding: 8px 15px;
            }

            .results {
                display: flex;
                gap: 10px;
            }
